*{
  outline: 1px dashed red;
}

body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}
.h2 {
  font-size: 14px;
  line-height: 18px;
}

h2 span {

}

legend {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  float:left;
  width:110px;
  margin-right: 40px;
}

.main-navigation {
  float: left;
  width: 540px;
}

.user-block {
  float: right;
  width: 90px;
}

.filters {
  float: left;
  width: 220px;
}

.catalog {
  float: right;
  width: 700px;
  margin-right: 10px;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: 14px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}

.item-images {
  float: left;
  width: 480px;
  font-size: 0;
}

.item {
  display: inline-block;
  font-size: 14px;
}

.item-big {
  width: 480px;
}

.item-small {
  width: 160px
}

.item-info {
  float: right;
  width: 400px;
  font-size: 0;
}

.in-stock {
  float: left;
  font-size: 14px;
}

.code {
  float: right;
  font-size: 14px;
}

.description {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 67px;
  font-size: 14px;
}

.consist {
  margin-bottom: 36px;
  font-size: 14px;
}

.consist-items {
  font-size: 14px;
}

